.row {
  max-width: 400px;
  padding: 10px;
  margin: auto;
}

.formBody {
  display: flex;
}

.fromLabels {
  float: left;
  width: 25%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: black;
  padding-top: 10px;
}

.formInputs {
  float: left;
  width: 75%;
  padding-top: 10px;
}
